<footer class="bg-dark text-white">
  <div class="row py-5 py-5 mx-3 mx-sm-0">
    <div class="col-md-3">
      <p class="text-center"><img src="/assets/img/logoMaho.png" width="200" alt="getnet"></p>
    </div>
    <div class="col-md-3">
      <p class="pt-3 text-muted">Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente
        completa y su dirección electrónica.</p>
    </div>
    <div class="col-md-6 d-flex align-items-end justify-content-end">
      <p class="text-muted">Versión 1.0.0</p>
    </div>
  </div>
</footer>