<section id="ubicacion">
    <h3 class="text-center pt-5 pb-3">Ubicación</h3>
    <div class="row d-flex align-content-center flex-wrap">
        <div class="col-sm-12 col-md-6 order-sm-1 py-3 mx-sm-3 mx-md-0">
            <p>
                <strong>Dirección:</strong> <br>
                Aguila 18, La Santisima, 62520 Tepoztlán, Morelos.
            </p>
            <p>
                <strong>Teléfono:</strong>
                <a href="tel:+525583080682">
                    <span><br> 55 8308 0682</span></a>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 order-sm-0">
            <div class="py-sm-3 mx-sm-3">
                <div class="map-responsive mx-md-3 mx-lg-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d120725.05140218227!2d-99.17254645856156!3d18.9907119272251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x85ce0ba7aeed9e99%3A0xbf7f602a472ed623!2sMAHO!3m2!1d18.9907251!2d-99.10250599999999!5e0!3m2!1ses-419!2smx!4v1667455960094!5m2!1ses-419!2smx"
                        width="600" height="450" style="border:0;" allowfullscreen loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>


</section>