<section class="bg-light py-5" id="eventos">
  <h3 class="text-center pb-3">Eventos</h3>
  <div class="mx-sm-5">
    <p class="mx-3">Disfruta de las diferentes actividades que se realizan en <span><img src="/assets/img/logoMaho.png"
          width="10%" alt=""></span>
    </p>

    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <div class="col">
          <img src="/assets/img/eventos/imagen13.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col">
        
      </div>
    </div>


  </div>
</section>