<app-header></app-header>
<main>
    <section
        class="d-flex align-items-center position-relative bg-dark bg-size-cover bg-position-center min-vh-100 overflow-hidden pb-lg-5"
        style="background: linear-gradient(
          rgba(23, 23, 42, 0.5),
          rgba(23, 23, 42, 0.5)
          ),
          url('/assets/img/fondos/imagen00.jpg'); background-size: cover; height: auto; width: 100%;"
          id="home">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-4 border-warning border-end border-5">
                    <h2 class="text-white py-5 py-sm-4 py-md-0">
                        <span class=" display-6 fw-bold text-warning">MAHO</span>  es tu mejor <span class=" display-6 fw-bold text-warning">lugar de descanso</span> porque ...</h2>
                </div>
                <div class="col-md-8">
                    <div class="row row-cols-1 row-cols-md-2 g-3">
                        <div class="col">
                            <div class="card h-100 border border-0">
                                <div class="card-body ">
                                    <img src="/assets/img/svg/imagen00.svg" alt="">
                                    <h4 class="card-title pt-3">Ubicación</h4>
                                    <p class="card-text">
                                        Estamos localizados a unas cuadras centro y del cerro del Tepozteco.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 border border-0">
                                <div class="card-body">
                                    <img src="/assets/img/svg/imagen01.svg" alt="">
                                    <h4 class="card-title pt-3">Trato</h4>
                                    <p class="card-text">
                                        Puedes estar seguro que ofrecemos la mejor atencion hacia los huespedes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 border border-0">
                                <div class="card-body">
                                    <img src="/assets/img/svg/imagen06.svg" alt="">
                                    <h4 class="card-title pt-3">Espacio</h4>
                                    <p class="card-text">
                                        Contamos con un jardin amplio y cafeteria privada para que puedas estar en total comodidad dentro de las instalaciones.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="card h-100 border border-0">
                                <div class="card-body">
                                    <img src="/assets/img/svg/imagen09.svg" alt="">
                                    <h4 class="card-title pt-3">Eventos</h4>
                                    <p class="card-text">
                                        En Maho siempre buscamos la paz personal y un equilibrio emocional, no olvides echar un vistazo a nuestros proximos eventos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section
        class="d-flex align-items-center position-relative bg-dark bg-size-cover bg-position-center min-vh-100 overflow-hidden pb-lg-5"
        style="background: linear-gradient(
          rgba(255, 255, 0, 0.1),
          rgba(255, 255, 0, 0.1)
          ),
          url('/assets/img/fondos/imagen00.jpg'); background-size: cover; height: auto; width: 100%;">
        <div class="container text-white">
            <h1 class="display-3 fw-bold text-uppercase">
                Nos especializamos en el desarrollo<br>
                <span class="display-5 fw-normal">de modelos y soluciones de pago</span>
            </h1>
        </div>
    </section>
    <section>
        <div class="pt-5 mx-sm-3 mx-md-3 ms-lg-5">
            <div class="pt-5">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card with stretched link</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="pt-5 mx-sm-3 mx-md-3 ms-lg-5" height="75%">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2500">
                        <img src="/assets/img/fondos/imagen00.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2500">
                        <img src="/assets/img/fondos/imagen01.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2500">
                        <img src="/assets/img/fondos/imagen02.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2500">
                        <img src="/assets/img/fondos/imagen04.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <app-habitaciones></app-habitaciones>
    <app-cafeteria></app-cafeteria>
    <app-actividades-promociones></app-actividades-promociones>
    <app-ubicacion></app-ubicacion>
</main>
<app-footer></app-footer>