<body class="d-flex h-100 text-center text-bg-light">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a href="/" aria-label="Maho" class="navbar-brand">
          <img src="/assets/img/logoMaho.png" alt="Maho" width="150">
        </a>
      </div>
    </header>

    <main class="px-3 py-5">
      <div class="py-5">
        <h1 class="text-center mt-5 mb-4 ">Página no encontrada</h1>
        <p class="text-center">Lo siento, la página que buscas no se encuentra disponible.</p>
        <div class="text-center">
          <a href="/" class="btn btn-primary">Ir al sitio principal</a>
        </div>
      </div>

    </main>

    <div class="row py-5 py-5 mx-3 mx-sm-0">
      <div class="col-md-3">
        <p class="text-center"><img src="/assets/img/logoMaho.png" width="150" alt="maho"></p>
      </div>
      <div class="col-md-4">
        <p class="pt-3 text-muted">Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente
          completa y su dirección electrónica.</p>
      </div>
      <div class="col-md-5 d-flex align-items-end justify-content-end">
        <p class="text-muted">Versión 1.0.0</p>
      </div>
    </div>

  </div>






</body>