<section id="habitaciones">
  <h3 class="text-center pt-5 pb-3">Habitaciones</h3>
  <div class="mx-sm-5">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="mx-3 pt-3">Servicios</h3>
          <p class="mx-3">
            <span class="text-muted"><small>Todas las habitaciones cuentan con los siguientes servicios</small></span>
          </p>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 pt-3 mb-3">
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M28 2a2 2 0 0 1 1.995 1.85L30 4l-.001 9.836 1.847 5.54a3 3 0 0 1 .115.468l.03.24.009.24V30h-2v-2H2v2H0v-9.675a3 3 0 0 1 .087-.717l.067-.232 1.845-5.537L2 4a2 2 0 0 1 1.697-1.977l.154-.018L4 2zm1.999 20H2l-.001 3.999h28zm-1.387-6H3.387l-1.333 4h27.891zM28 4H4l-.001 10H6v-4a2 2 0 0 1 1.85-1.995L8 8h16a2 2 0 0 1 1.995 1.85L26 10v4h1.999zm-13 6H8v4h7zm9 0h-7v4h7z">
                </path>
              </svg>
              <p>1 cama queen size <br>
                <span class="text-muted">
                  <small>Ideal para 2 personas</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M19.586 2a2 2 0 0 1 1.284.467l.13.119L29.414 11a2 2 0 0 1 .578 1.238l.008.176V25a5 5 0 0 1-4.783 4.995L25 30H4a2 2 0 0 1-1.995-1.85L2 28V7a5 5 0 0 1 4.783-4.995L7 2zM7 4a3 3 0 0 0-2.995 2.824L4 7v14a3 3 0 0 0 2.824 2.995L7 24h19v2H7a4.978 4.978 0 0 1-3-1v3h21a3 3 0 0 0 2.995-2.824L28 25v-3H6v-2h22v-6h-5a5 5 0 0 1-4.995-4.783L18 9V4zm20.586 8L20 4.415V9a3 3 0 0 0 2.824 2.995L23 12z">
                </path>
              </svg>
              <p>Ropa de cama <br>
                <span class="text-muted">
                  <small>Ropa de cama de algodón</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M20 1v2h-3v2h1a2 2 0 0 1 1.995 1.85L20 7v2a4 4 0 0 1 3.995 3.8L24 13v14a4 4 0 0 1-3.8 3.995L20 31h-8a4 4 0 0 1-3.995-3.8L8 27V13a4 4 0 0 1 3.8-3.995L12 9V7a2 2 0 0 1 1.85-1.995L14 5h1V3H8V1zm2 21H10v5a2 2 0 0 0 1.85 1.995L12 29h8a2 2 0 0 0 1.995-1.85L22 27zm0-6H10v4h12zm-2-5h-8a2 2 0 0 0-1.995 1.85L10 13v1h12v-1a2 2 0 0 0-2-2zm-2-4h-4v2h4z">
                </path>
              </svg>
              <p>Shampoo</p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M18 1v2h-7v2h1a2 2 0 0 1 1.995 1.85L14 7l.001 2.1a5.002 5.002 0 0 1 3.994 4.674L18 14v14a3 3 0 0 1-2.824 2.995L15 31H5a3 3 0 0 1-2.995-2.824L2 28V14a5.002 5.002 0 0 1 4-4.9V7a2 2 0 0 1 1.85-1.995L8 5h1V3H6V1h12zm-2 15.058c-1.143.147-2.085.595-3.577 1.552l-.348.225C9.64 19.424 8.293 19.995 6 19.995a9.003 9.003 0 0 1-2-.217V28a1 1 0 0 0 .883.993L5 29h10a1 1 0 0 0 .993-.883L16 28V16.058zM27 13a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm-14-2H7a3 3 0 0 0-2.995 2.824L4 14v3.711a6.846 6.846 0 0 0 2 .284c1.633 0 2.64-.361 4.4-1.462l.638-.41c2.016-1.315 3.277-1.922 4.962-2.08V14a3 3 0 0 0-3-3zm14 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM25 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8zM12 7H8v2h4V7zm13-3a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
                </path>
              </svg>
              <p>Jabón corporal</p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M16 32c6.627 0 12-5.373 12-12 0-6.218-3.671-12.51-10.924-18.889L16 .18l-1.076.932C7.671 7.491 4 13.782 4 20c0 6.577 5.397 12 12 12zm0-2c-5.496 0-10-4.525-10-10 0-5.327 3.115-10.882 9.424-16.65l.407-.37.169-.149.576.518c6.043 5.526 9.156 10.855 9.407 15.977l.013.34L26 20c0 5.523-4.477 10-10 10zm-3.452-5.092a8.954 8.954 0 0 1 2.127-4.932l.232-.26.445-.462a6.973 6.973 0 0 0 1.827-4.416l.007-.306-.006-.307-.007-.11a6.03 6.03 0 0 0-2.009-.057 4.979 4.979 0 0 1-1.443 4.008 10.951 10.951 0 0 0-2.87 5.016 6.034 6.034 0 0 0 1.697 1.826zM16 26l.253-.005.25-.016-.003-.137c0-1.32.512-2.582 1.464-3.533a10.981 10.981 0 0 0 3.017-5.656 6.026 6.026 0 0 0-1.803-1.743 8.971 8.971 0 0 1-2.172 5.493l-.228.255-.444.462a6.96 6.96 0 0 0-1.827 4.415l-.006.276c.48.123.982.189 1.499.189z">
                </path>
              </svg>
              <p>Agua caliente <br>
                <span class="text-muted">
                  <small>En la regadera y lavabo</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M11 1v7l1.898 20.819.007.174c-.025 1.069-.804 1.907-1.818 1.999a2 2 0 0 1-.181.008h-7.81l-.174-.008C1.86 30.87 1.096 30.018 1.096 29l.002-.09 1.907-21L3.001 1zm6 0l.15.005a2 2 0 0 1 1.844 1.838L19 3v7.123l-2 8V31h-2V18.123l.007-.163.02-.162.033-.16L16.719 11H13V1zm11 0a2 2 0 0 1 1.995 1.85L30 3v26a2 2 0 0 1-1.85 1.995L28 31h-7v-2h7v-2h-7v-2h7v-2h-7v-2h7v-2h-7v-2h7v-2h-7v-2h7v-2h-7V9h7V7h-7V5h7V3h-7V1zM9.088 9h-4.18L3.096 29l.058.002L10.906 29l-.004-.058zM17 3h-2v6h2zM9.002 3H5L5 7h4.004z">
                </path>
              </svg>
              <p>Elementos básicos <br>
                <span class="text-muted">
                  <small>Toallas y papel higiénico</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M2 30a1 1 0 0 1-1-1.03l.01-.111 3-21A1 1 0 0 1 5 7c2.213 0 4.089-.313 5.629-.928 1.495-.599 3.034-1.83 4.603-3.712a1 1 0 0 1 1.536 0c1.569 1.882 3.108 3.113 4.603 3.712C22.911 6.687 24.787 7 27 7a1 1 0 0 1 .968.747l.022.112 3 21a1 1 0 0 1-.878 1.135L30 30H2zM16 4.515l-.169.183c-1.462 1.545-2.946 2.625-4.46 3.23-1.425.57-3.058.911-4.9 1.027l-.507.026-.095.003L3.152 28H6v-4.333a3 3 0 0 1 .477-1.623l.123-.177L8.9 18.8a2 2 0 0 1 1.43-.793L10.5 18H12v-3a1 1 0 0 1 .883-.993L13 14h6a1 1 0 0 1 .993.883L20 15v3h1.5a2 2 0 0 1 1.492.668l.108.132 2.3 3.067a3 3 0 0 1 .592 1.584l.008.216V28h2.847L26.13 8.984l-.094-.003c-1.72-.069-3.267-.325-4.638-.774l-.77-.279c-1.405-.562-2.785-1.533-4.145-2.906l-.314-.324L16 4.515zM24 25H8v3h16v-3zm-2.5-5h-11l-2.25 3h15.5l-2.25-3zM18 16h-4v2h4v-2z">
                </path>
              </svg>
              <p>Mosquitero <br>
                <span class="text-muted">
                  <small>Para evitar las molestas picaduras al dormir</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M1 2V0h30v2h-2v18a2 2 0 0 1-1.85 1.995L27 22H17v2.171a3.001 3.001 0 1 1-2 0V22H5a2 2 0 0 1-1.995-1.85L3 20V2zm15 24a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM27 2H5v18h22z">
                </path>
              </svg>
              <p>Persianas o cortinas opacas
                <span class="text-muted">
                  <small>Ideal para dormir sin interrupciones</small>
                </span>
              </p>
            </div>
            <div class="col">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                focusable="false" width="24" height="24" fill="#F7E133">
                <path
                  d="M25 1a2 2 0 0 1 1.995 1.85L27 3l-.001 26H29v2H3v-2h1.999L5 3a2 2 0 0 1 1.85-1.995L7 1zm0 2H7l-.001 26h18zm-9 6a3 3 0 0 1 2.995 2.824L19 12l.001 2A5 5 0 1 1 13 14v-2a3 3 0 0 1 3-3zm0 6a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0 2a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-6a1 1 0 0 0-.993.883L15 12v1.1a5.023 5.023 0 0 1 2.001 0L17 12a1 1 0 0 0-1-1z">
                </path>
              </svg>
              <p>Cerradura en la puerta<br>
                <span class="text-muted">
                  <small>La habitación se puede cerrar con llave</small>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-justified" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
              role="tab" aria-controls="pills-home" aria-selected="false" tabindex="-1">Habitación 1</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
              role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">Habitación 2</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
              role="tab" aria-controls="pills-contact" aria-selected="true">Habitación 3</a>
          </li>
        </ul>
        <div class="tab-content mx-sm-3 mx-md-0" id="pills-tabContent">
          <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <div id="carouselExample1Dark" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample1Dark" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample1Dark" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample1Dark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_1/imagen01.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_1/imagen01.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_1/imagen01.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1Dark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1Dark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div id="carouselExample2Dark" class="carousel carousel-light slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample2Dark" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample2Dark" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample2Dark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_2/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_2/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_2/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2Dark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2Dark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <div id="carouselExample3Dark" class="carousel carousel-light slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample3Dark" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample3Dark" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample3Dark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_3/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_3/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="/assets/img/habitacion_3/imagen00.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2Dark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2Dark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</section>