<section class="bg-light py-5" id="cafeteria">
  <h3 class="text-center pb-3">Cafeteria</h3>
  <div class="mx-sm-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="mx-sm-5 mx-md-0">
          <div id="carouselCafeteria" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselCafeteria" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselCafeteria" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselCafeteria" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselCafeteria" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="/assets/img/cafeteria/imagen00.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="/assets/img/cafeteria/imagen06.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="/assets/img/cafeteria/imagen09.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="/assets/img/cafeteria/imagen04.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCafeteria"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCafeteria"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="pt-3 ">Menú</h3>
        <p>Disfruta de nuestra cafeteria privada atendida por Baristas, donde encontrarás:</p>
        <div class="container">
          <div class="row row-cols-2 row-cols-md-3 pt-3 mb-3">
            <div class="col">
              <img src="/assets/img/svg/imagen13.svg" alt="">
              <p>Bebidas Calientes</p>
            </div>
            <div class="col">
              <img src="/assets/img/svg/imagen11.svg" alt="">
              <p>Bebidas Frias</p>
            </div>
          </div>
          <div class="d-grid">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Consulta nuestro menú aqui 
              <img src="/assets/img/svg/imagen15.svg" class="img-fluid" alt="">
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">
        <span class="text-center">Menú</span>
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <figure class="figure">
            <img src="/assets/img/cafeteria/menu01.png" class="figure-img img-fluid rounded" alt="..." style="width: 1000px; height: auto;">
            <figcaption class="figure-caption">Si no vez algo en el menú, puedes preguntar.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>